ScanCocTool/Service References/MesService/MesAdapter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesAdapter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/MesService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/MesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/MesService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesService_GetWorkStep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkStep" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetWorkStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkStepResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_MoveStandard_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveStandard" />
  </wsdl:message>
  <wsdl:message name="IMesService_MoveStandard_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveStandardResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_Hold_InputMessage">
    <wsdl:part name="parameters" element="tns:Hold" />
  </wsdl:message>
  <wsdl:message name="IMesService_Hold_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoldResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetStepState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStepState" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetStepState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStepStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetCocInfoBySn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCocInfoBySn" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetCocInfoBySn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCocInfoBySnResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesService">
    <wsdl:operation name="GetWorkStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetWorkStep" message="tns:IMesService_GetWorkStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetWorkStepResponse" message="tns:IMesService_GetWorkStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveStandard">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/MoveStandard" message="tns:IMesService_MoveStandard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/MoveStandardResponse" message="tns:IMesService_MoveStandard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hold">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/Hold" message="tns:IMesService_Hold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/HoldResponse" message="tns:IMesService_Hold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStepState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetStepState" message="tns:IMesService_GetStepState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetStepStateResponse" message="tns:IMesService_GetStepState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCocInfoBySn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetCocInfoBySn" message="tns:IMesService_GetCocInfoBySn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetCocInfoBySnResponse" message="tns:IMesService_GetCocInfoBySn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesService" type="tns:IMesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkStep">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetWorkStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveStandard">
      <soap:operation soapAction="http://tempuri.org/IMesService/MoveStandard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hold">
      <soap:operation soapAction="http://tempuri.org/IMesService/Hold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStepState">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetStepState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocInfoBySn">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetCocInfoBySn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesAdapter">
    <wsdl:port name="BasicHttpBinding_IMesService" binding="tns:BasicHttpBinding_IMesService">
      <soap:address location="http://localhost:8733/MesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>