BIModel/Service References/MesService/MesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/MesService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetWorkStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkStepResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="workStep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveStandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveStandardResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoldResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStepState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStepStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStepStateResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="StepState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCocInfoBySn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCocInfoBySnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCocInfoBySnResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="info" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>